body{
    background-image: linear-gradient(to bottom ,#021b79,#0575e6);
    font-family: 'Josefin Sans', sans-serif;
overflow-x: hidden
}
.img-cont {
    text-align: center;
}
.image-covid {
    border-radius: 30px;
    box-shadow: 5px 5px black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    text-align: center;
    margin-bottom: 30px;
}

.msg-cont {
    align-items: center;
    background-color: wheat;
    box-shadow: black 5px 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.msg-ab {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}


.Top {
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #a10000,#b20000,#c30000);
    color: white;
      font-family: 'Josefin Sans', sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 40px;
    font-weight: bolder;
    box-shadow: 0px 5px black;
}

.updateData{
    align-content: center;
    padding: 30px;
    justify-content: center;
}


.titletext, .titletext3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.numtext{
    font-size: 70px;
    font-weight: bolder;
    transform: translateY(-030%);
}
.numtext2{
    font-size: 70px;
    font-weight: bolder;
    transform: translateY(-030%);
}
#timz
{
    transform: translateY(0px);
    font-size: 20px;
}

.MainBox {
    right: -5%;
    padding: 10px; 
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    height: 350px;
    width:80%;
    color: white;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.Box2{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.SmallBox{
    box-shadow: 5px 5px black;
    width: 180px;
    height: 120px;
    background-image: linear-gradient(to right,#1a8704,#24b314);
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 15px;
    align-content: center;
    float: left;
}
.SmallBox1{
    box-shadow: 5px 5px black;
    width: 180px;
    height: 120px;
    background-image: linear-gradient(to right,#F00000,#DC281E);
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 15px;
    align-content: center;
    float: left;
}
.SmallBox2{
    box-shadow: 5px 5px black;
    width: 180px;
    height: 120px;
    background-image: linear-gradient(to right,#FF6F00,#CB6B22);
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 15px;
    align-content: center;
    float: left;
}
.up
{
    font-size: 20px;
    font-weight: 500;font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    align-content: center;
    color: black;
}


#Next,#Prev
{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
